<form ref="upload-image" id="upload-image" action="/image-upload" enctype="multipart/form-data" method="post">
    <input type="file" name="image" />
    <input type="text" value="Hello" name="example" />
    <button type="submit">Submit</button>
</form>